*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.gameboard {
    width: 100%;
    height: 950px;
    border-bottom: 15px solid rgb(33, 175, 64);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    right: -80px;
    animation: pipe-animacao 2s infinite linear;

}


.clouds{
    position: absolute;
    height: 180px;
    animation:clouds-animations 24s infinite linear;
}


.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
    
}

.jump{
    animation: jump 500ms  ease-out;
}

@keyframes pipe-animacao{
    from{
    right: -80px;
    }

    to{
        right: 100%;
    }
}

@keyframes jump{
    0%{
    bottom: 0;
    }


    40%{
        bottom: 180px;
     }
 
     60%{
        bottom: 180px;
     }
 

    50%{
       bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes clouds-animations{
    from{
        right: 0;
    }

    to{
        right: 100%;
    }
}